/* Page container */
.favoritesPage {
  background-color: #121212;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
}

.favoritesContainer {
  width: 100%;
  max-width: 1200px;
}

/* Heading */
.title {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 20px;
  color: #f1f1f1;
}

/* Movie card layout */
.movieCard {
  background-color: #1e1e1e;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 10px;
}

.movieCard:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

/* Movie Poster */
.moviePoster {
  width: 150px;
  height: 225px;
  object-fit: cover;
  border-radius: 10px;
}

/* Movie Information */
.movieInfo {
  padding: 10px;
  flex-grow: 1;
  color: #f1f1f1;
}

.movieTitle {
  font-size: 1.2rem;
  font-weight: bold;
  color: #f1f1f1;
  margin-bottom: 5px;
}

/* Rating section */
.movieRating {
  font-size: 1rem;
  color: #f39c12; /* Gold color for rating */
  margin-top: 10px;
}

/* Button container */
.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

/* Delete and Select Buttons */
.deleteButton, .selectButton {
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 530;
}

.deleteButton {
  background-color: #77cbffc4;
  color: rgba(0, 0, 0, 0.701);
  box-shadow: 0 5px 20px rgba(87, 184, 237, 0.651);
}

.selectButton {
  background-color: #f39c12;
  color: white;
  box-shadow: 0 5px 15px rgba(243, 156, 18, 0.5);
}

/* No favorites message */
.noFavoritesMessage {
  color: #f1f1f1;
  text-align: center;
  font-size: 1.2rem;
}

/* Toggle Sidebar Button */
.toggleButton {
  display: none; /* Hide by default */
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 1002;
}

/* Responsive design for mobile devices */
@media (max-width: 768px) {
  .movieCard {
    flex-direction: column;
    align-items: center;
  }
  
  .toggleButton {
    display: block; /* Show on mobile */
  }
  
  .moviePoster {
    width: 100%;
    height: auto;
  }
}
